a {
  cursor: pointer;
}

.badge {
  border-radius: 0;
  background-color: red;
}

@media only screen and (min-width: 900px) {

  #signUp fieldset {
    width: 700px;
  }

}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  nav form  {
    display: none;
  }

  #bs-example-navbar-collapse-1 ul:first-child {
    display: none;
  }

}


@media only screen
and (min-device-width : 761px)
and (max-device-width : 1500px) {
  #navMobile  {
    display: none;
  }

}
