<section class="container" data-ng-init="mypollsCtrl.getAllPolls()" data-ng-controller="MyPollsController as mypollsCtrl">
  <h1>{{mypollsCtrl.owner}}'s Polls</h1>
  <p data-ng-if="mypollsCtrl.zeroPolls">No polls. Create some!</p>
  <ul data-ng-if="!mypollsCtrl.zeroPolls" class="list-group">
    <li data-ng-repeat="poll in mypollsCtrl.polls"  class="list-group-item">
      <button data-ng-click="mypollsCtrl.removePoll(poll)" class="badge">Delete</button>
      <a data-ng-click="mypollsCtrl.getPoll(poll)">{{poll.name}}</a>
    </li>
  </ul>  
</section>
