<div class="container">
  <div data-ng-if="mainCtrl.signupError" class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span>Username taken!</span>
  </div>
  <form id="signUp" data-ng-submit="mainCtrl.createUser(newUser)" class="form-horizontal">
    <fieldset>
      <legend>Sign Up</legend>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-10">
          <input data-ng-model="newUser.name" type="text" class="form-control" id="inputName" placeholder="Username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input data-ng-model="newUser.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
